<div id="outer">
    <div class="search-box">
        <input type="text" id="" [(ngModel)]="text">
        <button (click)="searchNote()" type="button">search</button>
    </div>
</div>


<!-- <form class="example-form">
    <mat-form-field class="example-full-width">
    <span matPrefix> </span>
    <input type="tel" matInput placeholder="Search" name= "search" [(ngModel)]= "text">
    <button matSuffix mat-button><mat-icon >search</mat-icon></button>
    </mat-form-field>
    <br/>
    {{search}}
    </form> -->

<!-- <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Search</mat-label>
    <input style="display:inline ;" matInput type="search" name="searchquery" [(ngModel)]="text" id="searchquery">
</mat-form-field>

<span> <button mat-icon-button (click)="searchNote()">
    <mat-icon class="icon">search</mat-icon>
</button> </span> -->