#logo{
    float: left;
    font-size: 100px;
    padding: 0px 20px;
    margin-top: 10px;
}
h3{
    font-size: 40px;
    margin-top: 5px;
    padding-top: 20px; 
    font-family: Arial, Helvetica, sans-serif;
}

h6{
    display: block;
    font-size: 20px;
    padding-left: 100px;
    margin-top: -35px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

.body{
    margin-left:auto;
    margin-right: auto;
    border: solid lightgrey 2px;
    width: 500px;
    height: 600px;

}
img{
    width: 500px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: larger;
    padding: 0px 15px;
    word-spacing: 1.5px;
}

.position div{
    display: inline-block;
    
}

#div-left a{
    float: left;
    padding-left: 25px;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

#div-right{
    float: right;
    padding-right: 30px;
    font-size: 30px;
    word-spacing: 20px;
}